.sidebar{
    width:280px;
    height:100vh;
    position:fixed;
    left:0;
    top:0;

    padding:20px;

    background:#1f1b2e;

    overflow-y:auto;
    overflow-x:hidden;

    display:flex;
    flex-direction:column;

    box-sizing:border-box;
}


.logo {
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
}

.menu-item {
  text-decoration: none;

  color: #e5e7eb;

  padding: 18px;

  border-radius: 14px;

  margin-bottom: 15px;

  background: rgba(255,255,255,0.05);

  font-size: 20px;
  font-weight: 600;

  transition: 0.3s;
}

.menu-item:hover {
  background: linear-gradient(
    90deg,
    #ff7a18,
    #7b2ff7
  );

  color: white;
}

.active {
  background: linear-gradient(
    90deg,
    #ff7a18,
    #7b2ff7
  );

  color: white;
}
@media (max-width:768px){

.main-content{
    margin-left:0;
    width:100%;
    padding:15px;
}

}