.sidebar{
width:280px;
height:100vh;
position:fixed;
left:0;
top:0;
padding:20px;
background:#1f1b2e;
overflow-y:auto;
display:flex;
flex-direction:column;
box-sizing:border-box;
transition:.3s;
z-index:1000;
}

.menu-item{
text-decoration:none;
color:#fff;
padding:18px;
margin-bottom:15px;
border-radius:14px;
background:rgba(255,255,255,.05);
font-size:20px;
font-weight:bold;
}

.menu-item:hover{
background:linear-gradient(90deg,#ff7a18,#7b2ff7);
}

.menu-toggle{
display:none;
position:fixed;
top:15px;
left:15px;
z-index:2000;
border:none;
background:#7b2ff7;
color:white;
font-size:28px;
padding:10px 15px;
border-radius:10px;
cursor:pointer;
}

@media(max-width:768px){

.menu-toggle{
display:block;
}

.sidebar{
left:-300px;
width:260px;
}

.sidebar.show{
left:0;
}

}