html,
body,
#root{
    margin:0;
    padding:0;
    width:100%;
    overflow-x:hidden;
}
.app{
display:flex;
}

.main-content{
margin-left:280px;
width:calc(100% - 280px);
min-height:100vh;
padding:20px;
background:linear-gradient(135deg,#ff8a00,#ff5f6d,#8b5cf6);
box-sizing:border-box;
overflow-x:hidden;
}

@media(max-width:768px){

.main-content{
margin-left:0;
width:100%;
padding:70px 15px 15px;
}

}
